<div class="panel panel-default panel-v-full">
  <div class="panel-body">
    <h3>User Posts and comments</h3>
    <div class="row">
      <div class="col-md-6" ng-hide="vm.posts.length === 0">
        <h4>User Posts</h4>
        <div class="panel panel-default" ng-repeat="post in vm.posts">
          <div class="panel-body">
              <a class="btn btn-danger pull-right" ng-click="vm.removePost($index)"><span class="glyphicon glyphicon-trash"></span></a>
            <p>{{post.postText}}</p>
            <img ng-src="{{post.postImage}}" class="img-responsive" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6" ng-show="vm.posts.length === 0">
          No Post Found of User
      </div>
      <div class="col-md-6" ng-hide="vm.comments.length === 0">
          <h4>User Comments</h4>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="comment in vm.comments">
              <span class="label label-danger comment-label pull-right" ng-click="vm.removeComments($index)"><span class="glyphicon glyphicon-trash"></span></span>
              {{comment.commentText}}
            </li>
          </ul>
      </div>
      <div class="col-md-6" ng-show="vm.comments.length === 0">
          No comments Found of User
      </div>
    </div>
  </div>
</div>
