<div class="panel panel-default panel-v-full">
  <div class="panel-body">
    <h3>Search Users</h3>
    <div class="row">
      <div class="col-md-6 ">
        <input type="text" class="form-control" ng-model="vm.search" ng-keyup="$event.keyCode == 13 && vm.getUser()" placeholder="Search">
      </div>
      <div class="col-md-3">
        <select class="form-control" ng-model="vm.searchType">
          <option value="displayname">Display Name</option>
          <option value="userId">User Id</option>
        </select>
      </div>
      <div class="col-md-2">
        <button  class="btn btn-default" ng-click="vm.getUser()">Search</button>
      </div>
    </div>
    <div class="row" ng-hide="vm.users.length === 0">
      <div class="table-responsive">
      <table class="table table-responsive">
        <tr>
          <th>Name</th>
          <!-- <th>Phone</th> -->
          <th>Profile Image</th>
          <th>User Id</th>
          <th>Varify user</th>
          <th>Life Page</th>
          <th></th>
        </tr>
        <tr ng-repeat="user in vm.users">
          <td>{{user.displayName}}</td>
          <!-- <td>{{user.phone}}</td> -->
          <td><img ng-src="{{user.thumbnail}}" alt=""></td>
          <td>{{user.userId}}</td>
          <td>
            <button  class="btn btn-default" ng-hide="user.isVerified" ng-click="vm.setVerify($index,true)">Set as Verify User</button>
            <button  class="btn btn-danger" ng-show="user.isVerified" ng-click="vm.setVerify($index,false)">Remove Verify User</button>
          </td>
          <td>
            <a ui-sref="lifePage({userId:user.userId})" class="btn btn-default">LifePage</a>
          </td>
          <td> <a ui-sref="userDetail({userId:user.userId})" class="btn btn-default">View</a> </td>
        </tr>
      </table>
    </div>
  </div>
    <div class="row text-center" ng-show="vm.users.length === 0">
        No User Found
    </div>

  </div>
</div>
